<br>
<div class="basic-grey">
    <h1>
     <div>      
      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
       Seja bem vindo!
      </div>   
    </h1>

  <ul style="list-style-type:none">
     <li>
       <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
       <%= link_to "Tipos",kinds_path%>
    </li>
     <li>
       <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
       <%= link_to "Contatos",contacts_path%>
    </li>
<!--   
     <li>%= link_to "Endereços",addresses_path%></li> 
     <li>%= link_to "Telefones",phones_path%></li>
     <li>%= link_to "Teste de ajax",phones_path, remote: true%></li>
-->  
</ul>
</div>